@import "tailwindcss";

@font-face {
  font-family: 'Brittany';
  src: url('./assets/fonts/Brittany Signature/BrittanySignature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
